# Ignore node_modules at any level
**/node_modules

# Ignore .pnp, .pnp.js, and .yarn/install-state.gz at any level
**/.pnp
**/.pnp.js
**/.yarn/install-state.gz

# Ignore coverage directory at any level
**/coverage

# Ignore .next and /out directories at any level
**/.next/
**/out/

# Ignore build directory at any level
**/build

# Ignore .DS_Store and *.pem files at any level
**/.DS_Store
**/*.pem

# Ignore debug logs at any level
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local env files at any level
**/.env*.local

# Ignore .vercel directory at any level
**/.vercel

# Ignore typescript build info and next-env.d.ts at any level
**/*.tsbuildinfo
**/next-env.d.ts
